@font-face {
  font-family: "Source Sans";
  src: url("./fonts/SourceSans3VF-Upright.ttf.woff2");
}

@font-face {
  font-family: "Source Sans";
  font-style: italic;
  src: url("./fonts/SourceSans3VF-Italic.ttf.woff2");
}

body {
  font-family: "Source Sans", sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  max-width: 56rem;
  padding: 1rem;
}

a {
  color: #000;
}

h1 {
  font-weight: normal;
}

strong {
  font-weight: 600;
}
