body {
  max-width: 1024px;
  text-align: center;
}

textarea {
  white-space: pre;
}

.content-switcher nav a {
  margin: 0.25rem;
}

.hidden {
  display: none;
}

.key {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
}

.keyboard {
  display: grid;
  gap: 0.5rem;
}
