body {
  max-width: 1024px;
}

textarea {
  white-space: pre;
}

.key {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.keyboard-wrapper {
  background-color: #fff;
  border: 1px solid #777;
  padding: 0.5rem;
}

.keyboard {
  box-sizing: border-box;
  display: grid;
  gap: 0.25rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.tabs {
  padding-bottom: 0.5rem;
}

.tabs .tab.inactive {
  display: none;
}
